:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
blockquote {
  margin-top: 0;
}

blockquote span {
  margin: 40px;
}

figcaption{
  margin-top: 20px;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
}


.quotes {
  background-color: grey;
  padding: 30px;
}